<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itcrazy.alanmall.user.dal.mapper.MemberMapper">
  <resultMap id="BaseResultMap" type="com.itcrazy.alanmall.user.dal.entity.Member">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="created" jdbcType="DATE" property="created" />
    <result column="updated" jdbcType="DATE" property="updated" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="file" jdbcType="VARCHAR" property="file" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="points" jdbcType="INTEGER" property="points" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="isverified" jdbcType="VARCHAR" property="isverified" />
  </resultMap>

  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT * FROM tb_member where id = #{id}
  </select>

</mapper>